* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
}

.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemons li {
    font-weight: bold;
    margin: .5rem;
    padding: 2rem 1rem;
    background-color: #14A06F;
    color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemons li img {
    max-width: 100%;
    max-height: 120px;
    align-self: flex-end;
}